/* Supprime complètement la scrollbar */
select::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

select::-webkit-scrollbar-thumb {
  background: transparent;
}

select::-webkit-scrollbar-track {
  background: transparent;
}

/* Pour Firefox */
select {
  scrollbar-width: none;
}

/* Pour IE et Edge */
select {
  -ms-overflow-style: none;
}